footer{
    min-height: 15vh;
    width: 100%;
    background-color: rgb(70 71 85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}
footer p{
    padding: 3rem;
}
