.category-page__container a{
    width: 100%;
}
 
.recipe-card__container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;  
    background-color: #D2E4D6 ;
    color: #006a4eaf;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 10px #9AB0A6;
    overflow: hidden;
    cursor: pointer;
    transition: all 1s;
    background-color: white;
}

.recipe-card__image{
    width: 50%;
    max-height: 300px;
    max-width: 400px;
}

.recipe-card__image img{
    width: 100%;
    height: 100%;
}

.recipe-card__titles, .recipe-card__info{
    padding: 1rem;
    width: 33%;
    padding-left: 0.5rem;
    color: #000000a6;
}


.recipe-card__info .recipe__time-info{
    align-items: flex-start;
    padding: 1rem 0;
}

.recipe-card__info .recipe__time-info h4, .recipe-card__info .recipe__time-info p{
    font-size: 0.75rem;
}

.recipe-card__info .card-info__rest .recipe-info p{
    font-size: 0.5rem;
}
.recipe-card__info .card-info__rest .recipe-info span{
    font-size: 0.6rem;
}

.recipe-card__info .time-info{
    padding-right: 1rem;
}

.category-page__container .recipe-card__container:hover {
    transform: scale(1.1);
}

@media (max-width: 830px){
    .recipe-card__container{
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .recipe-card__image{
        width: 100%;
        overflow: hidden;    
    }
 
    .recipe-card__titles, .recipe-card__info{
        width: 100%;
    }
    
    
    .recipe-card__info .recipe__time-info{
     
    }
    
    .recipe-card__info .recipe__time-info h4, .recipe-card__info .recipe__time-info p{
    }
    
    .recipe-card__info .card-info__rest .recipe-info p{
    }
    .recipe-card__info .card-info__rest .recipe-info span{
    }
    
    .recipe-card__info .time-info{
    }
}